.poll-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #cccfcd;
    padding: 2em;
}

.poll-question {
    text-align: center;
    margin-bottom: 10px;
}

.poll-options {
    margin: 0;
    padding: 0;
}

.poll-option {
    display: block;
    width: 100%;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;              
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    cursor: pointer;                 
}

.poll-option:hover {
    background-color: #1976d2;
}

.poll-result {
    display: flex;
    justify-content: space-between;
  }
  
.poll-option-description {
text-align: left;
}

.poll-option-result {
text-align: right;
}