.poll-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #cccfcd;
    padding: 2em;
}

.poll-question {
    text-align: center;
    margin-bottom: 10px;
}

.poll-option:hover {
    background-color: #1976d2;
}