.create-poll-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 2em;
}

.textbox-container {
    display: block;
}

.form-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #cccfcd;
    padding: 2em;
}

button {
    width: 20%;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;              
    padding: 10px;
    margin: 5px 5px;
    text-align: center;
    cursor: pointer;
}

.button-container {
    display: flex;
    margin-bottom: 1em;
}

.input-container {
    margin: 1em 0 1em;
}